@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<header>
    <head>
        <title>Code with Wasi</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/images/icon_codewithwasi.PNG">
    </head>
</header>
<body>
    <div>
        <div class="container">
            <div class="navbar">
                <img src="/images/icon_codewithwasi.PNG" class="logo">
                <ul>
                    <li><a href="index.html">home</a></li>
                    <li><a href="profession.html">Profession</a></li>
                    <li><a href="portfolio.html">portfolio</a></li>
                    <li><a href="belief.html">belief</a></li>
                    <li><a href="contact.html">contact us</a></li>

                </ul>
            </div>
            <div class="content">
                <h1>Web Developer</h1>
                <ul type="disc">
                    <li><p>I build things for the web.</p></li>
                    <li><p>I'm <b>Software Engineering</b> specializing in building & I developed custom website.</p></li>
                </ul>
            </div>


        </div>
        <div class="video-container">
            <iframe width="300" height="250"
                    src="https://www.youtube.com/embed/DvKxcjZV24M"
                    title="YouTube video player" control frameborder="0">
                <p>How can improve you ideas</p>
            </iframe>

            <div class="row">
                <div class="column" style="background-color:white;">
                    <h2>Experiance</h2>
                    <p>Two Years of Experiance</p>
                </div>
                <div class="row">

                    <div class="column" style="background-color:white;">
                        <h2>full Developer</h2>
                        <p>Front end</p>
                        <p>Back end</p>
                    </div>

                    <div class="row">

                        <div class="column" style="background-color:white;">
                            <h2>App Developer</h2>
                            <p>Front interface</p>
                        </div>
                    </div>


                </div>



            </div>

            <footer>
                <div class="wrapper">
                    <a href="https://www.facebook.com/profile.php?id=100082092716460">
                        Facebook
                    </a>
                    <a href="https://www.instagram.com/codewithwasi/">
                        Instagram
                    </a>

                    <a href="https://www.youtube.com/channel/UCmTQ0kW7FABRoqYMAi6pp9g">
                        Youtube
                    </a>
                </div>
            </footer>
</body>

</html>